html
body
    padding 0px
    margin 0px
    position relative
    height 100%
    width 100%
#map
	height:600px
	
.page-footer
	margin-top:0px !important

#map_controls
	height 30px
	width 100%
	background #333